$white: white;
$purple: #cb9bff;
$orange: #FAD895;
$blue: #A6FFFF;
$green: #96E1A8;
$indigo: #6C5696;
$yellow: #FFFF91;
$red: #FFA593;
$teal: #49CCD0;

$base-color: $purple;
$box-color-1: $blue;
$box-color-2: $green;
$box-color-3: $yellow;
$box-color-4: $red;

$d4-color: $orange;
$d6-color: $green;
$d8-color: $yellow;
$d10-color: $blue;
$d12-color: $indigo;
$d20-color: $red;
$d100-color: $teal;